@use '../../../sass/variables' as *;
.error {
	text-align: center;
	width: 100%;

	&__text {
		font-size: 3rem;
		margin-top: 3rem;
		color: var(--color-grey-1);
	}

	&__img {
		display: block;
		margin: -3rem auto;
		width: 50%;

		@media only screen and (max-width: $lg-sm) {
			width: 70%;
		}

		@media only screen and (max-width: $md) {
			width: 80%;
			margin: 0 auto;
		}

		@media only screen and (max-width: $md-sm) {
			width: 90%;
		}

		@media only screen and (max-width: $sm) {
			width: 100%;
		}

		&--fix {
			display: block;
			margin: -6rem auto -8rem auto;
			width: 46%;

			@media only screen and (max-width: $lg-sm) {
				width: 60%;
			}

			@media only screen and (max-width: $md) {
				width: 75%;
				margin: -5rem auto;
			}

			@media only screen and (max-width: $md-sm) {
				width: 85%;
				margin: -3rem auto;
			}

			@media only screen and (max-width: $sm) {
				margin: 0 auto;
				width: 100%;
			}
		}
	}

	a {
		text-transform: capitalize;
		display: block;
		font-size: 0.7rem;
		margin-top: -2.5rem;
		color: #afafaf;
	}
}
