@use '../../sass/variables' as *;

.search-bar {
	display: flex;
	align-items: center;

	padding: 0.75rem 0rem 0.75rem 2rem;
	max-width: 40rem;
	width: 100%;

	@media only screen and (max-width: $sm) {
		max-width: 100%;
		margin-bottom: 2rem;
	}

	&__input {
		background: none;
		border: none;
		color: var(--color-text);
		padding: 1rem 1.5rem;
		width: 100%;
		outline: none;
		font-size: 1.5rem;

		@media only screen and (max-width: $sm) {
			font-size: 1.6rem;
		}

		&::placeholder {
			color: var(--color-grey);
		}
	}
}
