.footer {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 1vh;

	font-size: 1.2rem;
	color: #a9a9a9;
	text-align: center;
	margin-top: auto;

	a {
		text-decoration: none;
		color: currentColor;

		&.name {
			font-weight: 700;
		}
	}
}
